###.5 Display full name of patients who are born in 1986.

In [1]:
import pandas as pd
import numpy as np
import datetime as date

In [2]:
workbook_url = 'HospitalDatabase.xlsx'
Patients_df = pd.read_excel(workbook_url,sheet_name='Patients')
Patients_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English
...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English

In [6]:
### Extracting year from date of Birth to find the corresponding patient's name born in 1986.
Patients_df['DateOfBirth'] = pd.to_datetime(Patients_df['DateOfBirth'])
Patients_df['Year'] = Patients_df['DateOfBirth'].dt.year
Patients_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,Year,FullName
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English,1960,Lanni Sue
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English,1985,Far Myers
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English,1976,Devlin Michael
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English,1968,Carmine Texas
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English,1962,Tann Bama
...,...,...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English,1986,Wat Fideler
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English,1970,Wandie Baythrop
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English,1983,Diahann Smeeton
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English,1963,Panchito Sharple
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English,1972,Walsh Calvie

In [4]:
Patients_df['FullName'] = (Patients_df['FirstName']+' '+Patients_df['LastName'])
Patients_df[Patients_df['Year']==1986]['FullName']

23         Gabriel  Joseph
24         Lincoln  Brenda
29             Ala Halpert
72            Lolita Darci
164         Fadel Bernardt
238         Bentley Kippax
367            Vale Olanda
373          Britt Dureden
386       Cristabel Chatel
415       Constantia Group
452       Morgan Scrowston
561             Dom Baglow
568        Ignazio Melling
595         Homenick Rings
639           Hashim Slark
643       Ellie Ramsbotham
674        Llewellyn Group
714             Niles Shaw
733             Yvette Inc
777          Siouxie Group
852            Carly Group
868        Worth Pickering
877           Arni Baldack
909       Kuvalis Coupland
922    Rebbecca Rollingson
940            Wat Fideler
Name: FullName, dtype: object