### List male patients over the age of 60 who have undergone surgery from January-March 2019.

In [1]:
import pandas as pd
import numpy as np
import datetime as date

In [2]:
workbook_url = 'HospitalDatabase.xlsx'
Patients_df = pd.read_excel(workbook_url,sheet_name='Patients')
Patients_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English
...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English

In [3]:
Patients_df['DateOfBirth'] = pd.to_datetime(Patients_df['DateOfBirth'])
Patients_df['Year'] = Patients_df['DateOfBirth'].dt.year
Patients_df['Age'] = 2022 - Patients_df['Year']
Patients_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,Year,Age
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English,1960,62
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English,1985,37
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English,1976,46
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English,1968,54
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English,1962,60
...,...,...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English,1986,36
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English,1970,52
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English,1983,39
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English,1963,59
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English,1972,50

In [4]:
AmbulatoryVisits_df = pd.read_excel(workbook_url,sheet_name='AmbulatoryVisits')
AmbulatoryVisits_df

,VisitID,PatientMRN,ProviderID,DateofVisit,DateScheduled,VisitDepartmentID,VisitType,BloodPressureSystolic,BloodPressureDiastolic,Pulse,VisitStatus
0,202,840,29,2019-03-19,2019-03-13 07:59:24.000,10,Physical,188.0,144.143427,83.044920,No Show
1,436,820,25,2019-03-19,2019-02-24 07:10:31.043,3,Follow Up,179.0,118.876808,90.309544,No Show
2,794,879,30,2019-04-02,2019-03-19 01:41:55.656,11,Telemedicine,133.0,98.749563,80.859776,No Show
3,799,884,37,2019-03-03,2019-02-25 01:25:39.696,4,Telemedicine,132.0,98.001270,82.184737,No Show
4,515,32,26,2019-03-16,2019-02-20 06:44:59.617,11,Telemedicine,131.0,85.115632,89.192362,No Show
...,...,...,...,...,...,...,...,...,...,...,...
945,788,873,1,2019-03-27,2019-03-10 17:19:48.264,5,Telemedicine,187.0,126.695141,70.049167,Canceled
946,703,855,36,2019-03-12,2019-02-19 02:27:52.664,10,Follow Up,182.0,140.703502,73.380812,Canceled
947,481,865,13,2019-05-03,2019-04-25 13:37:57.501,12,New,150.0,84.841197,61.625454,Canceled
948,398,635,10,2019-02-09,2019-02-08 11:40:35.137,1,Physical,177.0,125.037534,53.287036,Canceled
949,695,847,24,2019-03-04,2019-02-05 05:29:30.587,12,Follow Up,165.0,116.879318,56.180317,Canceled

In [5]:
Merged_df = Patients_df.merge(AmbulatoryVisits_df, left_on='PatientID', right_on='PatientMRN')
Merged_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,Year,Age,VisitID,PatientMRN,ProviderID,DateofVisit,DateScheduled,VisitDepartmentID,VisitType,BloodPressureSystolic,BloodPressureDiastolic,Pulse,VisitStatus
0,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English,1968,54,1,4,1,2019-01-01,2018-12-17 09:08:02.824,1,New,175.0,139.096031,56.678398,Completed
1,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English,1962,60,2,5,2,2019-01-02,2018-12-20 12:52:48.286,2,New,158.0,116.151006,59.360770,Completed
2,6,Jerrilyn,Kane,1969-03-30 09:36:56.550,Male,White,English,1969,53,3,6,3,2019-01-03,2018-12-18 20:48:08.960,3,New,154.0,98.736556,67.425256,Completed
3,7,Skipton,Bar,1975-11-25 22:23:53.525,Male,White,English,1975,47,4,7,4,2019-01-04,2018-12-21 19:47:47.631,4,New,137.0,85.844944,97.442262,Completed
4,8,Alexandra,Green,1967-06-16 16:37:21.694,Male,White,English,1967,55,5,8,5,2019-01-05,2018-12-18 19:38:26.156,5,New,167.0,130.334212,71.301478,Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,916,Kaylil,Baldack,1966-11-17 14:10:35.224,Female,Black/African-American,English,1966,56,831,916,4,2019-03-09,2019-02-11 18:20:38.164,12,Follow Up,179.0,130.049131,76.114584,Completed
946,916,Kaylil,Baldack,1966-11-17 14:10:35.224,Female,Black/African-American,English,1966,56,898,916,34,2019-04-10,2019-03-17 16:20:15.179,10,New,163.0,98.169357,67.506466,Completed
947,916,Kaylil,Baldack,1966-11-17 14:10:35.224,Female,Black/African-American,English,1966,56,278,916,2,2019-02-28,2019-02-24 11:38:24.749,2,Physical,180.0,122.011558,76.224581,Completed
948,916,Kaylil,Baldack,1966-11-17 14:10:35.224,Female,Black/African-American,English,1966,56,764,916,15,2019-03-03,2019-02-15 12:31:44.307,5,Follow Up,163.0,122.076264,99.794604,Completed
949,917,Velvet,Bushnell,1965-11-13 07:26:58.889,Female,Black/African-American,English,1965,57,279,917,3,2019-03-01,2019-02-27 09:07:44.922,3,Physical,161.0,115.016508,67.455019,Completed

In [6]:
Merged_df['FullName'] = (Merged_df['FirstName']+' '+Merged_df['LastName'])
Male_df = Merged_df.loc[(Merged_df['Age'] > 60) & (Merged_df['Gender']== 'Male')]
Male_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,Year,Age,VisitID,...,ProviderID,DateofVisit,DateScheduled,VisitDepartmentID,VisitType,BloodPressureSystolic,BloodPressureDiastolic,Pulse,VisitStatus,FullName
11,15,Gabriel,Saint,1961-11-18 06:47:20.682,Male,White,Spanish,1961,61,12,...,12,2019-01-12,2019-01-08 11:44:52.773,12,New,133.0,84.997205,62.342676,Completed,Gabriel Saint
15,19,Daugherty,Conner,1960-04-04 10:00:34.189,Male,White,Spanish,1960,62,16,...,16,2019-01-16,2018-12-17 13:57:08.056,4,New,131.0,64.484534,72.506395,Completed,Daugherty Conner
16,20,Megan,Walter,1960-02-10 19:04:57.032,Male,White,Spanish,1960,62,17,...,17,2019-01-17,2018-12-25 04:19:07.569,5,New,152.0,85.416789,87.656791,Completed,Megan Walter
322,560,Robyn,Aucourte,1960-02-11 20:56:05.193,Male,Black/African-American,English,1960,62,119,...,27,2019-04-29,2019-04-23 13:34:08.785,11,New,167.0,131.610736,98.101192,Completed,Robyn Aucourte
323,560,Robyn,Aucourte,1960-02-11 20:56:05.193,Male,Black/African-American,English,1960,62,373,...,4,2019-02-22,2019-01-25 13:10:02.833,12,Follow Up,181.0,146.904275,58.716220,Completed,Robyn Aucourte
324,560,Robyn,Aucourte,1960-02-11 20:56:05.193,Male,Black/African-American,English,1960,62,605,...,22,2019-04-11,2019-03-13 02:57:20.535,9,Follow Up,NaN,NaN,NaN,Completed,Robyn Aucourte
343,581,Constanta,Edgin,1960-06-06 08:19:25.534,Male,Black/African-American,English,1960,62,380,...,11,2019-03-01,2019-02-11 07:28:05.541,7,Telemedicine,179.0,113.061708,84.869647,Completed,Constanta Edgin
344,581,Constanta,Edgin,1960-06-06 08:19:25.534,Male,Black/African-American,English,1960,62,126,...,5,2019-01-02,2018-12-06 22:40:43.282,6,New,150.0,104.148850,59.907306,Completed,Constanta Edgin
345,581,Constanta,Edgin,1960-06-06 08:19:25.534,Male,Black/African-American,English,1960,62,612,...,6,2019-04-18,2019-04-12 22:02:41.388,4,Follow Up,143.0,87.972160,87.084049,Completed,Constanta Edgin
424,662,Brunhilda,Gow,1960-11-12 18:08:26.260,Male,Black/African-American,English,1960,62,407,...,19,2019-02-18,2019-02-05 04:53:06.610,10,Physical,170.0,136.823330,57.369963,No Show,Brunhilda Gow
425,662,Brunhilda,Gow,1960-11-12 18:08:26.260,Male,Black/African-American,English,1960,62,639,...,36,2019-02-12,2019-01-30 13:17:38.810,7,Telemedicine,161.0,131.039990,69.188644,Completed,Brunhilda Gow
426,662,Brunhilda,Gow,1960-11-12 18:08:26.260,Male,Black/African-American,English,1960,62,153,...,1,2019-01-29,2019-01-11 13:36:59.786,9,Follow Up,180.0,138.828597,84.041631,Completed,Brunhilda Gow
439,802,Berta,Loxly,1961-05-19 21:00:01.885,Male,White,English,1961,61,418,...,7,2019-03-01,2019-02-11 12:07:20.257,9,Follow Up,177.0,117.426762,63.210398,No Show,Berta Loxly
440,802,Berta,Loxly,1961-05-19 21:00:01.885,Male,White,English,1961,61,650,...,34,2019-03-21,2019-03-10 16:57:40.635,6,Telemedicine,174.0,110.303858,80.845990,Completed,Berta Loxly
441,802,Berta,Loxly,1961-05-19 21:00:01.885,Male,White,English,1961,61,164,...,12,2019-02-09,2019-01-16 17:53:41.867,8,Follow Up,NaN,NaN,NaN,Completed,Berta Loxly
901,905,Gail,Inc,1961-12-15 23:41:58.959,Male,Black/African-American,English,1961,61,887,...,29,2019-03-30,2019-03-11 12:58:20.476,9,New,171.0,107.273212,66.057572,Completed,Gail Inc
902,905,Gail,Inc,1961-12-15 23:41:58.959,Male,Black/African-American,English,1961,61,753,...,4,2019-03-27,2019-03-21 15:15:18.504,6,Physical,148.0,107.255635,71.987195,Completed,Gail Inc
903,905,Gail,Inc,1961-12-15 23:41:58.959,Male,Black/African-American,English,1961,61,267,...,22,2019-02-17,2019-02-16 20:52:27.043,3,Telemedicine,163.0,112.617613,80.471394,Completed,Gail Inc
904,905,Gail,Inc,1961-12-15 23:41:58.959,Male,Black/African-American,English,1961,61,820,...,32,2019-03-24,2019-02-27 01:32:03.587,1,Physical,188.0,149.813761,82.340960,Completed,Gail Inc

In [7]:
# Displaying all rows that have Provider ID value as [10,11,12,13,14,15,16] 
# &  Date ofVisit is between Jan 2019-Marc2019
df = Male_df.loc[Male_df('ProviderID',[10,11,12,13,14,15,16])] 
df

TypeError: 'DataFrame' object is not callable